.alinhamento {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20px;
}

form {
    width: 50vw;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.alinha {
    margin: 10px 0px 10px 10px;
}

table{
    width: 90vw;
    margin-left: 10px;
}

.alinhamento-link {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.conteiner {
    width: 90vw;
}

.conteiner-produto {
    width: 50vw;
}
